Optimize its readability, reduce its complexity and explain why.
The code written in {{ codeLanguage }} you need to optimize is:
{% if code.withLineNumber %}
{% for line in code.lines %}{{ line.number }}:{{ line.text }}{{ "\n" | escape}}{% endfor %}
{% else %}
{% for line in code.lines %}{{ line.text }}{{ "\n" | escape}}{% endfor %}
{% endif %}
