Optimize its data structures and algorithms in order to increase performance, and give your example code.
The code written in {{ codeLanguage }} you need to optimize is:
{% if code.withLineNumber %}
{% for line in code.lines %}{{ line.number }}:{{ line.text }}{{ "\n" | escape}}{% endfor %}
{% else %}
{% for line in code.lines %}{{ line.text }}{{ "\n" | escape}}{% endfor %}
{% endif %}
