This code is written in {{ codeLanguage }}, tell me its problems:
{% if code.withLineNumber %}
{% for line in code.lines %}{{ line.number }}:{{ line.text }}{{ "\n" | escape}}{% endfor %}
{% else %}
{% for line in code.lines %}{{ line.text }}{{ "\n" | escape}}{% endfor %}
{% endif %}
