Your coding language is {{ codeLanguage }} and here are my requirements: {{ requirements }}
Write code to implement those requirements.
Your code context is:
{{ codeContext }}

Format everything in {{ codeLanguage }} with comments.
