Your coding language is {{ codeLanguage }}.
Write a test code {% if testingFramework %}using testing framework {{ testingFramework }}{{ "\n" | escape }}{% endif %}.
The code you need to test is:
{{ codeContext }}
